@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* HEADER */
header img {
	margin: 0 auto;
}

/* SECTION DETAILS */
#details .table-responsive {
	font-family: 'Open Sans', sans-serif;
	margin: 50px auto;
	max-width: 450px;
}

#details .table-responsive table, #details .table-responsive table thead th {
	text-transform: uppercase;
	text-align: center;
}

#details .table-responsive table thead {
	background-color: #ED1C24;
	color: #fff;
}

#details .table-responsive table tr td {
	width: 150px;
}

#details .table-responsive table img {
	cursor: pointer;
	transition: all 2s;
}

#details .table-responsive table img:hover {
	-ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#details nav {
	text-align: center;
}

#details nav ul.pagination {
	margin: 0 auto;
}

/* FOOTER */
footer {
	font-family: 'Open Sans', sans-serif;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #ED1C24;
	color: #fff;
	margin: 50px 0 0 0;
}

footer p {
	margin: 0;
	font-weight: bold;
}